---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title='The ProjectHub'>
	<header class="py-20">

		<div class="flex items-center mx-auto max-w-screen-lg">
			<svg xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 310 350" class="absolute w-4/12 bottom-30 left-4/12 -rotate-90 z-0 fill-cyan-400">
				<path d="M156.4,339.5c31.8-2.5,59.4-26.8,80.2-48.5c28.3-29.5,40.5-47,56.1-85.1c14-34.3,20.7-75.6,2.3-111  c-18.1-34.8-55.7-58-90.4-72.3c-11.7-4.8-24.1-8.8-36.8-11.5l-0.9-0.9l-0.6,0.6c-27.7-5.8-56.6-6-82.4,3c-38.8,13.6-64,48.8-66.8,90.3c-3,43.9,17.8,88.3,33.7,128.8c5.3,13.5,10.4,27.1,14.9,40.9C77.5,309.9,111,343,156.4,339.5z"/>
				</svg>
			<img src="/images/header-image.jpg" alt="" srcset="/images/header-image.jpg 420w" class="w-80 rounded-xl relative z-10">
			<div class="relative z-10 intro flex justify-center flex-col flex-1 h-80 p-24 dark:bg-zinc-900 bg-slate-100 rounded-xl -ml-20 shadow-lg">
				<h2 class="font-bold text-3xl dark:text-gray-300 text-gray-900 mb-4">Your Personalized <span class=" text-cyan-600 font-bold">YouTube</span> Library</h2>
				<p class="dark:text-gray-400 text-gray-700">When a video envokes an emomtion, we tend to re-watch it. Why not create a library of your favourite videos here.</p>
				<form id="getVideo" class="mt-6">
					<input type="url" id="videoUrl" placeholder="Paste video link here..." class="rounded-l-lg p-2 dark:bg-slate-200 bg-slate-500 w-1/2 placeholder:text-white dark:placeholder:text-slate-600">
					<button class="text-white bg-cyan-600 px-4 py-2 rounded-r-lg -ml-2"><i class="fa-solid fa-cloud-arrow-down"></i></button>
				</form>

			</div>
		</div>
	</header>
</BaseLayout>