---
/*
* use this as .md files template for styling
* TODO: Current params passed not working 
*/ 
export async function getStaticPaths() {

}

const { title, text } = Astro.props;
---
<html>
  <head>
    <title>{title}</title>
  </head>
  <body>
    <h1 class="text-lg font-bold">{title}</h1>
    <p>{text}</p>
  </body>
</html>