<nav class="flex justify-between mx-auto max-w-screen-lg px-3 py-6 bg-zinc-800 text-white">
    <a href="http://" class="text-2xl font-semibold">*MD in <span class=" text-cyan-400 font-bold">ASTRO</span></a>
    <ul class="flex gap-x-3 font-medium text-gray-200">
        <li class="hover:text-cyan-400 border-2 rounded border-cyan-400 p-2">
            <a href="/">Blogs</a>
        </li>
        <li class="hover:text-cyan-400 p-2">
            <a href="https://youtube.com/siphiwo">Youtube</a>
        </li>
        <li class="hover:text-cyan-400 p-2">
            <a href="https://github.com/siphiwo">Github</a>
        </li>
        <li class="light-mode dark:hidden flex items-center justify-center">
            <i class="fa-solid fa-sun"></i>
        </li>
        <li class="night-mode dark:flex items-center justify-center">
            <i class="fa-regular fa-moon"></i>
        </li>
    </ul>
</nav>