---
import BaseLayout from "./BaseLayout.astro"

---

<BaseLayout title="Single Post View">
    <h2 class="font-bold text-3xl text-gray-300 text-center mb-4 uppercase">Post title</h2>
	<p class="text-gray-400 text-center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris accumsan nunc non lobortis vulputate. Donec placerat urna id felis feugiat convallis. Cras varius vel mi ultricies faucibus. Pellentesque elementum, ipsum nec vehicula iaculis, quam sem.</p>
</BaseLayout>